body{
    background-color: #f1efef;
}

.user-form{
    width: 600px;
    margin: 100px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
}
.carousel-item img{
    height: 600px;
    object-fit: contain;
}